body {
  background-color: #C6E2FF; }

#right-side {
  padding: 0 20px 0 20px; }

#google-map {
  height: 600px; }

#day-header {
  display: inline-block; }

#day-header-btn {
  margin: 15px; }

#day-module {
  background-color: #EDEDED;
  margin-top: 2rem;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem; }

#day-buttons {
  background-color: #d3d3d3; }

#day-selector {
  background-color: #f49e42; }

#everything-chooser {
  background-color: #f49e42;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px; }
