{% extends "layout.html" %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class='navbar header'>
      <h1>THIS IS THE NAVBAR</h1>
    </div>
  </div>
</nav>

<h1>Welcome!</h1>
<div>
  <select>
    {% for hotel in hotels %}
    <option>{{ hotel.name }}</option>
    {% endfor %}
  </select>
  <select>
    {% for restaurant in restaurants %}
    <option>{{ restaurant.name }}</option>
    {% endfor %}
  </select>
  <select>
    {% for activity in activities %}
    <option>{{ activity.name }}</option>
    {% endfor %}
  </select>
</div>
{% endblock %}

